@import url("./scss/all.scss");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 1200px;
  margin: 0 auto;
}

.sort-block {
  margin: 15px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
